body{
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
}
h1{ 
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
.sky-highlight{
    color: aqua;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("image/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 200px;
}
.link-button{
    text-decoration: none;
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    padding: 10px 20px;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 700;
}
.button{
    text-decoration: none;
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
    padding: 10px 20px;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 700;   
}
.dream-area{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 80%;
    background-color: white;

}
.experience-area{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    border-image-slice: 1;
}
#Beginner{
    border-left: 7px solid;
    border-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 12px
}